body {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  cursor: default;
  font-size: 2rem;
}

.handle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 6rem;
}

.tag-line {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 3.5rem;
  font-weight: normal;
}

.clear {
  opacity: 0;
}

.about-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.head-shot {
  height: 200px;
  border-color: rgb(148, 211, 255);
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-bottom: 6rem;
}

.about-me-text {
  width: 600px;
}

#case-studies {
  height: 92rem;
  font-size: 1rem;
  text-align: center;
}

.bloc-jams {
  margin: 0 auto;
  display: block;
  padding-top: 6rem;
  padding-bottom: .5rem;
}

.bloc-jams-title {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.bloc-jams-description {
  font-size: 2rem;
  width: 750px;
  display: inline-block;
}

@media only screen and (max-width: 667px) {
  nav {font-size: 1.5rem;}
  .about-content {top: 90%;}
  .head-shot {margin-bottom: 4rem;}
  .about-me-text {font-size: 2rem; max-width: 550px;}

  #case-studies {height: 60rem;}
  .bloc-jams {padding-top: 3rem; width: 300px;}
  .bloc-jams-title {padding-bottom: 0rem;}
  .bloc-jams-pics {width: 300px;}
  .bloc-jams-description {font-size: 1.5rem;width: 300px; padding-top: 0rem;}
}

@media only screen and (max-width: 375px) {
  .about-content {top: 70%;}
  .tag-line {top: 55%; font-size: 3rem;}
  .about-me-text {max-width: 300px;}
}

@media only screen and (max-height: 450px) {
  .tag-line {top: 60%}
}
